<!DOCTYPE html>
<html>
<head>
  <title>Lancego</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar">
      <div class="container">
        <div id="logo"><%= link_to "Lancego", "/" %></div>
        <ul class="header-right">
          <li><%= link_to "Top", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if user_signed_in? %>
          <li><strong><%= link_to current_user.username, pages_show_path %></strong></li>
          <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
        </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
  </div>

<div class="container">
  <footer class="footer">
    <div class="small">
      &copy; 2017 Lancego.
    </div>
  </footer>
  </div>

</body>
</html>
